body {
  .one-option-only {
    background-color: transparent;
    border: none;
    padding: 6px 0;
  }

  .btn-secondary.dropdown-toggle {
    margin: 0 -0.75rem;
    background-color: transparent !important;
    border: none !important;
    transition: none !important;

    &.transparent {
      background-color: transparent !important;
    }

    &.header-dropdown {
      font-size: $text-xl-rem;
      margin: -0.375rem -0.75rem 0.875rem -0.75rem;
    }
  }

  .dropdown-item {
    padding: 0.375rem 1.5rem;
  }

  .dropdown-menu-right {
    text-align: right;
  }
}

[data-theme=light] {
  body {
    .btn.one-option-only {
      color: $black;
    }
    .btn-secondary.dropdown-toggle {
      color: $black;
      
      &:hover {
        background-color: transparent;
        color: $gray-darker;
      }
  
      &:focus {
        background-color: transparent;
        color: $gray-darker;
      }

      &:active {
        background-color: transparent;
        color: $gray-darker;
      }

      &.header-dropdown {
        background-color: transparent;
        color: $black;
      }
    }

    .dropdown-menu {
      background-color: $white;
      
      .dropdown-item {
        background-color: $white;
        border-color: $gray-lighter;
        color: $black;
  
        &:hover {
          background-color: $gray-lightest;
        }
      }
    }
  }
}

[data-theme=dark] {
  body {
    .btn.one-option-only {
      color: $white;
    }
    .btn-secondary.dropdown-toggle {
      color: $white;
      
      &:hover {
        background-color: transparent;
        color: $gray-lighter;
      }
  
      &:focus {
        background-color: transparent;
        color: $gray-lighter;
      }

      &:active {
        background-color: transparent;
        color: $gray-lighter;
      }

      &.header-dropdown {
        background-color: transparent;
        color: $gray-lighter;
      }
    }

    .dropdown-menu {
      background-color: $gray-darker;

      .dropdown-item {
        background-color: $gray-darker;
        border-color: $gray;
        color: $white;
  
        &:hover {
          background-color: $gray-dark;
        }
      }
    }
  }
}
