body {
  .btn-secondary.dropdown-toggle {
    margin: 0 -0.75rem;

    &.transparent {
      background-color: transparent !important;
    }

    &.header-dropdown {
      font-size: $text-xl-rem;
      margin: -0.375rem -0.75rem 0.875rem -0.75rem;
    }
  }

  .dropdown-item {
    padding: 0.375rem 1.5rem;
  }

  .dropdown-menu-right {
    text-align: right;
  }
}

[theme=light] {
  body {
    .btn-secondary.dropdown-toggle {
      background-color: $gray-lightest;
      border: none !important;
      color: $black;
      margin: 0 -0.75rem;
      
      &:hover {
        background-color: $gray-lightest;
        color: $gray-darker;
      }
  
      &:focus {
        background-color: $gray-lightest;
        color: $gray-darker;
      }

      &:active {
        background-color: $gray-lightest;
        color: $gray-darker;
      }

      &.header-dropdown {
        background-color: $gray-lighter;
        color: $black;
      }
    }

    .dropdown-menu {
      background-color: $white;
      
      .dropdown-item {
        background-color: $white;
        border-color: $gray-lighter;
        color: $black;
  
        &:hover {
          background-color: $gray-lightest;
        }
      }
    }
  }
}

[theme=dark] {
  body {
    .btn-secondary.dropdown-toggle {
      background-color: transparent;
      border: none !important;
      color: $white;
      
      &:hover {
        background-color: transparent;
        color: $gray-lighter;
      }
  
      &:focus {
        background-color: transparent;
        color: $gray-lighter;
      }

      &:active {
        background-color: transparent;
        color: $gray-lighter;
      }

      &.header-dropdown {
        background-color: transparent;
        color: $gray-lighter;
      }
    }

    .dropdown-menu {
      background-color: $gray-darker;

      .dropdown-item {
        background-color: $gray-darker;
        border-color: $gray;
        color: $white;
  
        &:hover {
          background-color: $gray-dark;
        }
      }
    }
  }
}
