body {
  .btn-secondary.dropdown-toggle {
    margin: 0 -0.75rem;

    &.transparent {
      background-color: transparent !important;
    }
  }
}

[theme=light] {
  body {
    .btn-secondary.dropdown-toggle {
      background-color: $gray-lightest;
      border: none !important;
      color: $black;
      margin: 0 -0.75rem;
      
      &:hover {
        background-color: $gray-lightest;
        color: $black;
        text-decoration: underline;
      }
  
      &:focus {
        background-color: $gray-lightest;
        color: $black;
        text-decoration: underline;
      }

      &:active {
        background-color: $gray-lightest;
        color: $black;
        text-decoration: underline;
      }
    }

    .dropdown-menu {
      background-color: $white;
      
      .dropdown-item {
        background-color: $white;
        border-color: $gray-lighter;
        color: $black;
  
        &:hover {
          background-color: $gray-lightest;
        }
      }
    }
  }
}

[theme=dark] {
  body {
    .btn-secondary.dropdown-toggle {
      background-color: transparent;
      border: none !important;
      color: $white;
      
      &:hover {
        background-color: transparent;
        color: $white;
        text-decoration: underline;
      }
  
      &:focus {
        background-color: transparent;
        color: $white;
        text-decoration: underline;
      }

      &:active {
        background-color: transparent;
        color: $white;
        text-decoration: underline;
      }
    }

    .dropdown-menu {
      background-color: $gray-darker;

      .dropdown-item {
        background-color: $gray-darker;
        border-color: $gray;
        color: $white;
  
        &:hover {
          background-color: $gray-dark;
        }
      }
    }
  }
}
