form {
  label {
    margin-bottom: 0.25rem;
  }

  .btn {
    min-width: 80px;
  }

  small.form-text {
    font-size: $text-xs-rem;
  }

  .form-check {
    margin-bottom: 1rem;
  }

  .checkbox-label {
    cursor: pointer;

    input {
      cursor: pointer;
    }

    .form-check-input { 
      margin-top: 0.1875rem;
    }
  }
}
