form {
  label {
    margin-bottom: 0.25rem;
  }

  .btn {
    min-width: 80px;
  }

  small.form-text {
    font-size: $text-sm-rem;
    margin-top: 0.375rem;
  }

  .form-check {
    margin-bottom: 1rem;
  }

  .checkbox-label {
    cursor: pointer;
    font-weight: 300;

    input {
      cursor: pointer;
    }

    .form-check-input { 
      margin-top: 1px;
    }
  }
}
