.header-nav-tabs {
  display: flex;
  font-size: $text-lg-rem;
  margin-bottom: 1.25rem;

  .header-nav-tabs__tab-wrapper {
    flex: 1;

    .header-nav-tab {
      @include borderFocusStyles;
  
      border-style: solid;
      border-bottom-width: $button-border-width;
      border-left-width: $button-border-width;
      border-top-width: $button-border-width;
      border-radius: 0;
      display: inline-block;
      padding: $button-padding;
      text-decoration: none;
  
      &:first-child {
        border-bottom-left-radius: $button-border-radius;
        border-top-left-radius: $button-border-radius;
      }
  
      &:last-child {
        border-bottom-right-radius: $button-border-radius;
        border-right-width: $button-border-width;
        border-top-right-radius: $button-border-radius;
      }
    }

  }

  .header-nav-tabs__advanced-btn {
    font-size: $text-sm-rem;
    padding: 0 0.75rem;
  }
}

html[data-theme=light] {
  .header-nav-tab {
    background-color: transparent;
    border-color: $gray-light;
    color: $gray-darker;
    
    &:hover {
      color: $gray-darkest !important;
    }

    &.active {
      background-color: $gray-lightest;
      color: $black !important;
    }
  }

  .header-nav-tabs__advanced-btn {
    color: $gray-darker;

    &.active {
      color: $black;
    }
  }
}

html[data-theme=dark] {
  .header-nav-tab {
    background-color: transparent;
    border-color: $gray-dark;
    color: $gray-lighter;
    
    &:hover {
      color: $gray-lightest !important;
    }

    &.active {
      background-color: $gray-darkest;
      color: $white !important;
    }
  }

  .header-nav-tabs__advanced-btn {
    color: $gray-lighter;

    &.active {
      color: $white;
    }
  }
}
