.media-list__item {
  text-decoration: none !important;
  width: 100%;
}

.media-list__container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0 1.25rem 0;

  &:first-child {
    margin-top: 0.25rem;
  }

  &.is-slim {
    margin: 0.75rem 0;
  }

  .media-list__left {
    align-self: stretch;
    display: flex;
    flex: 1 0 calc(100% - 60px);
    min-width: 0;
  }

  // &.is-active .media-list__left {
  //   border-style: dashed;
  //   border-left-width: 0.125rem;
  //   margin-left: -0.5rem;
  //   padding-left: 0.25rem;
  // }
  
  .media-list__right {
    align-self: center;
    flex: 0 0 44px;
    margin-left: 1rem;
    margin-top: -2px;

    .media-list-right__move {
      cursor: pointer;
      pointer-events: none;
    }

    .media-list-right__move, .media-list-right__remove {
      border-radius: 44px;
      border-style: solid;
      border-width: 1px;
      height: 44px;
      width: 44px;
    }
  }

  @media(max-width: 520px) {
    .media-list__right {
      margin-left: 0.75rem;
    }
  }

  .media-list__bottom {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    font-size: $text-md-rem;
    font-weight: 300;
    line-clamp: 4;
    margin-top: 0.75rem;
    max-height: 83px;
    overflow: hidden;
    white-space: normal !important;
  }
}

.media-list-item__a, .media-list-item__b, .media-list-item__c {
  display: block;
}

.media-list-item__a {
  .media-list-item-a__image {
    float: left;
    margin-right: 1.125rem;
  }

  @media(max-width: 520px) {
    .media-list-item-a__image {
      margin-right: 0.75em;
    }
  }

  [class^=media-list-item-a__sub] {
    font-size: $text-sm-em;
  }

  .media-list-item-a__sub-bottom {
    @include ellipsis;
    font-weight: 300;
    margin-top: 0.25rem;
  }

  .media-list-item-a__sub-bottom-side {
    float: right;
    font-weight: 300;
    margin-left: 1rem;
    margin-top: 0.25rem;
    text-align: right;
  }

  .media-list-item-a__sub-middle {
    @include ellipsis;
    font-weight: 300;
    margin-top: 0.25rem;
  }

  .media-list-item-a__sub-middle-side {
    float: right;
    font-weight: 300;
    margin-left: 1rem;
    margin-top: 0.25rem;
    text-align: right;
  }

  .media-list-item-a__sub-top {
    @include ellipsis;
    font-weight: 300;
  }

  .media-list-item-a__sub-top-side {
    float: right;
    font-weight: 300;
    margin-left: 0.75em;
    text-align: right;
  }

  .media-list-item-a__title {
    font-size: $text-lg-rem;
    margin-bottom: 0.625rem;
    margin-top: 0.25rem;
  }

  @media(max-width: 520px) {
    .media-list-item-a__title {
      margin-bottom: 4px;
    }
  }
}

.media-list-item__b {
  .media-list-item-b__image {
    float: left;
    margin-right: 1.125rem;
  }

  .media-list-item-b__sub {
    @include ellipsis;
  }

  .media-list-item-b__sub-side {
    float: right;
    margin-left: 1rem;
    text-align: right;
  }

  .media-list-item-b__title {
    font-size: $text-xl-rem;
    margin: 0.75rem 0;
  }
}

.media-list-item__c {
  .media-list-item-c__date {
    float: right;
    margin-left: 1rem;
    text-align: right;
    font-size: $text-sm-em;
  }
  
  .media-list-item-c__description {
    @include ellipsis;
    font-size: $text-sm-em;
  }

  @supports (-webkit-line-clamp: 2) {
    .media-list-item-c__description {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
    }
  }

  .media-list-item-c__title {
    margin-bottom: .75em;
  }
}

.media-list-item__d {
  font-size: $text-lg-em;
  padding: 0.75em 0;

  .media-list-item-d__title-side {
    float: right;
    font-size: $text-sm-em;
    font-weight: 300;
    line-height: 22px;
    margin-left: 1rem;
    margin-right: 0.125rem;
    text-align: right;
  }

  @supports (-webkit-line-clamp: 2) {
    .media-list-item-d__title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
    }
  }

  .media-list-item-d__sub-title-side {
    float: right;
    font-size: $text-xs-em;
    line-height: 22px;
    margin-left: 1rem;
    margin-top: 0.25rem;
    text-align: right;
  }
  
  .media-list-item-d__sub-title {
    font-size: $text-xs-em;
    line-height: 22px;
    margin-top: 0.25rem;
  }
}

html[data-theme=light] {
  .media-list__container {
    &.is-active .media-list__left {
      border-color: $gray;
    }

    .media-list__right {
      .media-list-right__move, .media-list-right__remove {
        background-color: $white;
        border-color: $black;
        color: $black;

        &:hover {
          border-color: $gray-darker;
          color: $gray-darker;
        }
      }
    }
  }

  [class^=media-list-item__] {
    [class*=__title], [class$=__description] {
      color: $black;
    }
    [class*=__sub], [class$=__date] {
      color: $gray-dark;
    }

    &:hover {
      [class*=__title], [class$=__description] {
        color: $gray;
      }
      [class*=__sub], [class$=__date] {
        color: $gray-dark;
      }
    }
  }
}

html[data-theme=dark] {
  .media-list__container {
    &.is-active .media-list__left {
      border-color: $gray;
    }

    .media-list__right {
      .media-list-right__move, .media-list-right__remove {
        background-color: $black;
        border-color: $white;
        color: $white;

        &:hover {
          border-color: $gray-lighter;
          color: $gray-lighter;
        }
      }
    }
  }

  [class^=media-list-item__] {
    [class*=__title], [class$=__description] {
      color: $white;
    }
    [class*=__sub], [class$=__date] {
      color: $gray-light;
    }

    &:hover {
      [class*=__title], [class$=__description] {
        color: $gray-light;
      }
      [class*=__sub], [class$=__date] {
        color: $gray-light;
      }
    }
  }
}
