.media-info {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  clear: both;
  padding: 0 0 1.5rem 0;

  .media-info__episode-title {
    font-size: $text-lg-rem;
  }

  .media-info__episode-pub-date {
    font-size: $text-sm-rem;
    font-weight: 300;
    margin-top: 0.5rem;
  }

  .media-info__clip-title {
    font-size: $text-lg-rem;
    margin-top: 1rem;
  }

  .media-info__clip-time {
    font-size: $text-sm-rem;
    font-weight: 300;
    margin-top: 0.5rem;
  }

  .media-info__clip-created-by {
    font-size: $text-sm-rem;
    font-weight: 300;
    margin-bottom: 1.25rem;
    margin-top: 0.5rem;
  }

  .media-info__clip-status {
    font-size: $text-md-rem;
    font-weight: 300;
    margin-bottom: 1.25rem;
    margin-top: 0.5rem;
  }

  .media-info__last-updated {
    float: right;
    font-size: $text-md-rem;
    font-weight: 300;
    margin-top: 0.25rem;
  }

  .media-info__item-count {
    font-size: $text-md-rem;
    font-weight: 300;
    margin-top: 0.25rem;
  }

  .media-info__controls {
    display: flex;
    margin: 1.5rem 0;
    
    .media-info-controls__play, .more-dropdown-menu .btn, .media-info-controls__edit {
      background-color: transparent;
      padding-top: 8px;
      transition: none;
      border-radius: 44px;
      border-style: solid;
      border-width: 1px;
      flex: 0 0 auto;
      height: 44px;
      margin-right: 1rem;
      width: 44px;

      svg {
        @include preventFontAwesomeSizeFOUC;
      }
    }

    .media-info-controls__play {
      width: 74px;

      svg {
        margin-left: 2px;
      }
    }

    .media-info-controls__play.playing svg {
      margin-left: 0;
    }

    .media-info-controls__make-clip, .media-info-controls__share {
      display: none;
    }
  }

  .media-info__show-notes {
    cursor: pointer;
    display: inline-block;

    div {
      display: inline-block;
      width: 10px;
    }

    svg {
      height: 1rem;
      vertical-align: -0.125rem;
      width: 0.7rem;
    }
  }

  .media-info__dynamic-ads-warning {
    font-size: $text-xs-rem;
    font-weight: 300;
    margin: 1.25rem 0;
  }

  .media-info__description {
    font-size: $text-md-rem;
    font-weight: 300;
    margin-top: 1rem;
    word-break: break-word;

    h1, h2 {
      font-size: $text-xl-rem;
      margin: 1rem 0 0.5rem 0;
    }

    h3, h4 {
      font-size: $text-lg-rem;
      margin: 1rem 0 0.5rem 0;
    }

    h5, h6, p {
      font-size: $text-md-rem;
      margin: 0.5rem 0;
    }

    ul, ol, li {
      margin: 0.5rem 0;
    }

    strong {
      font-weight: 500;
    }

    i {
      font-style: italic;
    }
  }
}

html[data-theme=light] {
  .media-info {
    border-color: $gray-lighter;

    .media-info__episode-title {
      color: $black;
    }

    .media-info__episode-pub-date {
      color: $gray-dark;
    }

    .media-info__clip-title {
      color: $black;
    }

    .media-info__clip-time, .media-info__replay-clip {
      color: $gray-dark !important;
    }

    .media-info__clip-created-by, .media-info__dynamic-ads-warning {
      color: $gray-dark;
    }


    .media-info__clip-status {
      color: $gray-dark;
    }

    .media-info__item-count, .media-info__last-updated {
      color: $gray-dark;
    }

    .media-info__controls {
      .media-info-controls__play, .more-dropdown-menu .btn, .media-info-controls__edit {
        background-color: $white;
        border-color: $black;
        color: $black;

        &:hover {
          border-color: $gray-darker;
          color: $gray-darker;
        }
      }
    }

    .media-info__show-notes {
      color: $blue;
    }

    .media-info__description {
      color: $black;
    }
  }
}

html[data-theme=dark] {
  .media-info {
    border-color: $gray-darker;

    .media-info__episode-title {
      color: $white;
    }

    .media-info__episode-pub-date {
      color: $gray-light;
    }

    .media-info__clip-title {
      color: $white;
    }

    .media-info__clip-time, .media-info__replay-clip {
      color: $gray-light !important;
    }

    .media-info__clip-created-by, .media-info__dynamic-ads-warning {
      color: $gray-light;
    }

    .media-info__clip-status {
      color: $gray-light;
    }

    .media-info__item-count, .media-info__last-updated {
      color: $gray-light;
    }

    .media-info__controls {
      .media-info-controls__play, .more-dropdown-menu .btn, .media-info-controls__edit {
        background-color: $black;
        border-color: $white;
        color: $white;

        &:hover {
          border-color: $gray-lighter;
          color: $gray-lighter;
        }
      }
    }

    .media-info__show-notes {
      color: $blue;
    }

    .media-info__description {
      color: $white;
    }
  }
}
