.mp-add-to-modal {
  position: relative;

  a {
    text-decoration: none;
  }

  h4 {
    margin-bottom: 0.75rem;
  }

  .media-list__container:not(:first-of-type) {
    margin: 0.25rem 0;
  }

  hr.pv-divider {
    margin: 0.25rem 0;
  }

  .scrollable-area {
    overflow: auto;
    height: calc(100% - 2.75rem);
    margin: 0 -1rem;
    padding: 0 1rem;
  }

  .mp-add-to-modal__play-next {
    border-right-style: solid;
    border-right-width: 1px;
  }

  .mp-add-to-modal__play-next, .mp-add-to-modal__play-last {
    display: inline-block;
    height: 51px;
    line-height: 49px;
    margin: -0.75rem 0;
    padding: 0 0.25rem;
    text-align: center;
    text-decoration: none;
    width: 50%;
  }

  .mp-add-to-modal__create-playlist {
    margin: 1rem 0;

    .mp-add-to-modal-create-playlist__create {
      display: block;
      height: 36px;
      line-height: 36px;
      margin: 1.25rem auto 0 auto;
      text-align: center;
      width: 160px;
    }
  }

  .mp-add-to-modal__playlist-msg {
    padding: 1rem 0;
    text-align: center;

    a {
      cursor: pointer;
    }
  }
}

.make-clip-modal {
  h3 {
    display: inline-block;
  }

  .make-clip-modal__start-time-preview, .make-clip-modal__end-time-preview {
    float: right;
    margin-left: 1rem;
  }

  .make-clip-modal__is-public {
    float: right;
    margin-top: -6px;

    .dropdown-toggle {
      width: 156px;
      text-align: right;
    }

    .dropdown-menu {
      min-width: unset;
      padding: 0;
      text-align: right;
    }

    .dropdown-item {
      line-height: 1.5;
      min-width: 154px;
      padding: 0.375rem 1.5rem;
      text-align: right;
    }
  }

  .make-clip-modal__delete {
    float: left;
    margin-top: 0.5rem;
  }

  .make-clip-modal__save, .make-clip-modal__cancel {
    margin: 0.5rem 0 0 1rem;
  }

  .make-clip-modal__login-msg {
    padding: 0 0 1.5rem 0;
    text-align: center;

    a {
      cursor: pointer;
    }
  }

  .make-clip-modal__dynamic-ads, .make-clip-modal__my-clips {
    display: block;
    float: left;
    font-size: $text-sm-rem;
    height: 38px;
    line-height: 38px;
    margin: 0.5em 0.5em 0 auto;
  }

  .make-clip-modal__divider {
    display: block;
    float: left;
    font-size: $text-sm-rem;
    height: 38px;
    line-height: 38px;
    margin: 0.5em 0.5em 0 auto;
  }

  @media (max-height: 480px) {
    .ReactModal__Content {
      left: 0 !important;
      top: 0 !important;
      transform: none !important;
    }
  }
}

.mp-queue-modal {

  h6:first-of-type {
    margin-top: 0;
  }

  .mp-queue-modal__header {
    display: flex;
    margin-bottom: 1rem;

    h3 {
      flex: 0 0 33%;
    }

    .mp-queue-modal-header__dropdown {
      flex: 1;
    }

    .mp-queue-modal-header__edit {
      background-color: transparent;
      border-color: transparent;
      flex: 0 0 34%;
      text-align: center;

      button {
        background-color: transparent;
        border-color: transparent;
        height: 42px;
        margin-top: -0.375rem;
        width: 100px;
      }
    }

    .mp-queue-modal-header__close {
      flex: 0 0 33%;
    }
  }
  .scrollable-area {
    overflow: auto;
    height: calc(100% - 4.75rem);
    margin-right: -1rem;
    padding-right: 1rem;

    .media-list-item-a__title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    [data-react-beautiful-dnd-draggable][style*="fixed"] hr {
      display: none;
    }

    [data-react-beautiful-dnd-draggable]:last-of-type {
      margin-bottom: 1.25rem;

      hr {
        display: none;
      }
    }

    [data-react-beautiful-dnd-draggable] {
      left: 20px !important;
    }
  }
}

.mp-share-modal {
  .form-group .input-group .btn {
    min-width: 80px;
  }
}

html[data-theme=light] {
  .mp-add-to-modal {
    a {
      border-color: $gray-light;
    }

    .mp-add-to-modal__play-next, .mp-add-to-modal__play-last, .mp-add-to-modal__create-playlist {
      color: $black !important;
        
      &:hover {
        color: $gray-darker !important;
      }
    }

    .mp-add-to-modal__playlist-msg, .make-clip-modal__login-msg {
      color: $black;
    }
  }

  .make-clip-modal__start-time-preview, .make-clip-modal__end-time-preview {
    color: $blue-darker;
    
    &:hover {
      color: $blue;
    }
  }
}

html[data-theme=dark] {
  .mp-add-to-modal {
    a {
      border-color: $gray-darker;
    }

    .mp-add-to-modal__play-next, .mp-add-to-modal__play-last, .mp-add-to-modal__create-playlist {
      color: $white !important;

      &:hover {
        color: $gray-lighter !important;
      }
    }

    .mp-add-to-modal__playlist-msg, .make-clip-modal__login-msg {
      color: $white;
    }
  }

  .make-clip-modal__start-time-preview, .make-clip-modal__end-time-preview {
    color: $blue-lighter;

    &:hover {
      color: $blue;
    }
  }
}
