.mp-headline {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
  bottom: 89px; left: 0; right: 0;
  display: flex;
  height: 26px;
  line-height: 24px;
  min-width: 0;
  padding: 0 0.25rem;
  position: fixed;
  text-align: left;

  .mp-headline__inner {
    max-width: $player-max-width;
    display: flex;
    margin: auto;
    width: 100%;
  }

  .mp-headline__link {
    display: flex;
    width: 100%;
  }

  .mp-headline__title {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .mp-headline__time {
    flex: 0 0 auto;
    margin-left: 0.25rem;
  }
}

.mp-header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  bottom:  44px; left: 0; right: 0;
  display: flex;
  height: 45px;
  position: fixed;

  .mp-header__inner {
    max-width: $player-max-width;
    display: flex;
    flex: 1;
    margin: auto;
  }

  .mp-header__link {
    display: flex;
    flex: 1;
  }

  .mp-header__image {
    height: 44px;
    margin-right: 0.5rem;
    width: 44px;
  }

  .mp-header__wrap {
    flex: 1 1 auto;
    height: 44px;
    min-width: 0;
    text-align: left;

    .mp-header-wrap__top {
      font-weight: bold;
      height: 22px;
      line-height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  
    .mp-header-wrap__bottom {
      font-weight: bold;
      height: 22px;
      line-height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .mp-header__queue {
    flex: 0 0 36px;
    margin: 8px 0;
  }

  .mp-header__add {
    flex: 0 0 36px;
    margin: 8px 0;
  }
  
  .mp-header__clip {
    flex: 0 0 36px;
    margin: 8px 0;
  }
  
  .mp-header__share {
    flex: 0 0 36px;
    margin: 8px 0;
  }
}

.mp {
  bottom: 0; left: 0; right: 0;
  display: flex;
  height: 44px;
  position: fixed;

  .mp__inner {
    max-width: $player-max-width;
    display: flex;
    flex: 1;
  }

  .mp__play-pause {
    flex: 0 0 44px;
  }

  .mp__current-time {
    flex: 0 0 auto;
    margin: auto;
    min-width: 38px;
    text-align: right;
  }

  .mp__progress-bar-wrapper {
    flex: 1 1 auto;
    margin: auto 4px;
    position: relative;
    width: 100%;

    .mp-progress-bar__clip-start,
    .mp-progress-bar__clip-end {
      background-color: yellow;
      height: 24px;
      pointer-events: none;
      position: absolute;
      top: -3px;
      width: 2px;
      z-index: 1;
    }
  }

  .mp__progress-bar {
    cursor: pointer;
    flex: 1 1 auto;
    margin: 0;
  }

  .mp__duration {
    flex: 0 0 auto;
    margin: auto;
    min-width: 38px;
    text-align: left;
  }

  .mp__mute {
    flex: 0 0 36px;
  }

  .mp__time-jump-forward {
    flex: 0 0 36px;
    margin: 8px 0;
  }

  .mp__playback-rate {
    flex: 0 0 36px;
    margin: 8px 0;
  }

  .mp__autoplay {
    flex: 0 0 36px;
    margin: 8px 0;
  }

  .mp__skip {
    flex: 0 0 36px;
    margin: 8px 0;
  }
}

[theme=light] {
  .mp-headline, .mp-header, .mp {
    & a {
      color: $black;
      text-decoration: none;
    }
  }

  .mp-headline {
    background-color: $gray-light;
    border-color: $gray;
    color: $black;
  }

  .mp-header {
    background-color: $gray-light;
    border-color: $gray;
    color: $black;
  }

  .mp {
    background-color: $gray-light;
    color: $black;

    .progress {
      background-color: $gray;
    }

    .progress .progress-bar {
      background-color: $blue;
    }
  }
}

[theme=dark] {
  .mp-headline, .mp-header, .mp {
    & a {
      color: $white;
      text-decoration: none;
    }
  }

  .mp-headline {
    background-color: $black;
    border-color: $gray;
    color: $white;
  }

  .mp-header {
    background-color: $gray-dark;
    border-color: $gray;
    color: $white;
  }

  .mp {
    background-color: $gray-dark;
    color: $white;

    .progress {
      background-color: $gray;
    }
  }

  .progress .progress-bar {
    background-color: $blue;
  }
}
