.media-list__select button {
  font-size: $text-lg-rem;
}

.media-list__sub-select {
  margin-bottom: 0.25rem;

  // The Reactstrap Dropdown direction='down' appears to be buggy,
  // so manually force the dropdown-menu to load below the dropdown.
  .dropdown-menu {
    transform: translate3d(-16px, 36px, 0px) !important;
  }

  &.align-right {
    .dropdown-menu {
      transform: translate3d(-29px, 36px, 0px) !important;
    }
  }

  // &.align-right-2 {
  //   .dropdown-menu {
  //     left: unset !important;
  //     right: 0 !important;
  //     transform: none !important;
  //   }
  // }

  button {
    font-size: $text-md-rem;
  }
}
