.mp-add-to-modal {
  position: relative;

  .scrollable-area {
    bottom: 1.25em;
    left: 1.25em;
    position: absolute;
    overflow: auto;
    right: 1.25em;
    top: 45px;
  }
}

.mp-add-to-modal {
  h4 { 
    margin-bottom: 0;
  }

  .mp-add-to-modal__play-next, .mp-add-to-modal__play-last {
    height: 45px;
    line-height: 43px;
    margin-bottom: 0.25em;
  }
}

.mp-share-modal {
  .form-group .input-group .btn {
    min-width: 80px;
  }
}

.make-clip-modal {
  h4 {
    display: inline-block;
  }

  .make-clip__is-public {
    float: right;
    width: auto;
  }

  .make-clip-modal__save {
    margin-left: 1rem;
  }
}
