.media-player__fixed-spacer {
  height: 52px;
}

.media-player {
  display: flex;
  padding: 1rem;
  
  &.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .media-player__play-pause {
    flex: 0 0 36px;
    margin-right: 2px;
  }

  .media-player__current-time {
    flex: 0 0 auto;
    margin: 0 2px;
    min-width: 38px;
    text-align: right;
  }

  .media-player__progress-bar-wrapper {
    flex: 1 1 auto;
    position: relative;
    width: 100%;

    .media-player-progress-bar__preview {
      position: absolute;
      pointer-events: none;
    }

    .media-player-progress-bar__clip-start,
    .media-player-progress-bar__clip-end {
      background-color: yellow;
      height: 24px;
      pointer-events: none;
      position: absolute;
      top: -3px;
      width: 2px;
      z-index: 1;
    }
  }

  .media-player__progress-bar {
    cursor: pointer;
    flex: 1 1 auto;
    margin: 1px 2px 0 2px;
  }

  .media-player__duration {
    flex: 0 0 auto;
    margin: 0 2px;
    min-width: 38px;
    text-align: left;
  }

  .media-player__mute {
    flex: 0 0 36px;
    margin: 0 2px;
  }

  .media-player__volume {
    cursor: pointer;
    flex: 0 0 60px;
    margin: 1px 2px 0 2px;
  }

  .media-player__playback-rate {
    flex: 0 0 36px;
    margin: 0 2px;
  }

  .media-player__previous {
    flex: 0 0 32px;
  }

  .media-player__skip {
    flex: 0 0 32px;
  }
}

[theme=light] {
  .media-player {
    background-color: $gray-light;
    color: $black;

    .progress {
      background-color: $gray;
    }

    .progress .progress-bar {
      background-color: $blue;
    }
  }
}

[theme=dark] {
  .media-player {
    background-color: $gray-dark;
    color: $white;

    .progress {
      background-color: $gray;
    }
  }

  .progress .progress-bar {
    background-color: $blue;
  }
}

@media(max-width: 575px) {
  .media-player__volume {
    display: none;
  }
}

@media(max-width: 500px) {
  .media-player__mute {
    display: none;
  }
}

@media(max-width: 450px) {
  .media-player__previous {
    display: none;
  }
}

@media(max-width: 400px) {
  .media-player__skip {
    display: none;
  }
}