.mp-add-to-modal {
  position: relative;

  a {
    display: block;
    text-decoration: none;
  }

  h4 { 
    margin-bottom: 0;
  }

  .scrollable-area {
    overflow: auto;
    height: calc(100% - 1.5em);
  }

  .mp-add-to-modal__play-next, .mp-add-to-modal__play-last {
    height: 45px;
    line-height: 43px;
    margin-bottom: 0.25em;
  }
}

.mp-share-modal {
  .form-group .input-group .btn {
    min-width: 80px;
  }
}

.make-clip-modal {
  h4 {
    display: inline-block;
  }

  .make-clip__is-public {
    float: right;
    width: auto;
  }

  .make-clip-modal__save {
    margin-left: 1rem;
  }

  @media (max-height: 480px) {
    .ReactModal__Content {
      left: 0 !important;
      top: 0 !important;
      transform: none !important;
    }
  }
}

[theme=light] {
  .mp-add-to-modal {
    a {
      color: $black;
    }
  }
}

[theme=dark] {
  .mp-add-to-modal {
    a {
      color: $white;
    }
  }
}
