
.media-header {

  .media-header__image {
    float: left;
    height: 4.75rem;
    margin-right: 1rem;
    width: 4.75rem;
  }

  .media-header__top {
    margin-top: .125rem;
  }

  .media-header__top, .media-header__middle, .media-header__bottom {
    display: flex;
    justify-content: space-between;
  }

  .media-header__subscribe, .media-header__link {
    flex: 0 0 auto;
    height: 22px;
    line-height: 22px;
    margin-left: 1rem;
    margin-right: 4px;
    margin-top: 3px;
    padding: 0;
    text-align: center;
    width: 22px;

    svg {
      height: 18px;
      vertical-align: -0.125rem;
      width: 21px;
    }
  }

  .media-header__edit {
    flex: 0 0 auto;
    height: 22px;
    line-height: 22px;
    margin-left: 1rem;
    margin-top: 3px;
    padding: 0;
    width: 22px;

    svg {
      height: 18px;
      vertical-align: -0.125rem;
      width: 21px;
    }
  }

  .media-header__link {
    flex: 0 0 auto;
    height: 22px;
    line-height: 22px;
    margin-left: 1.5rem;
    margin-right: 4px;
    margin-top: 3px;
    padding: 0;
    text-align: center;
    width: 22px;

    svg {
      height: 18px;
      vertical-align: -0.125rem;
      width: 21px;
    }
  }

  .media-header__title {
    @include ellipsis;
    flex: 1 0 auto;
    font-size: $text-xl-rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
    max-width: calc(100% - 44px); // 100% minus the width of the subscribe button area

    &:focus {
      outline: none;
      text-decoration: underline;
    }
  }

  .media-header__sub-title {
    @include ellipsis;
    clear: both;
    display: block;
    float: left;
    margin-bottom: 0.25rem;
    max-width: 100%;

    &:focus {
      outline: none;
      text-decoration: underline;
    }
  }
  
  .media-header__is-explicit {
    font-size: $text-sm-rem;

    .badge {
      font-weight: 300;
      padding: 3px 5px 2px 6px;
    }
  }

  .media-header__bottom-text {
    @include ellipsis;
    clear: left;
    display: block;
  }

  .media-header__bottom-text-side {
    clear: both;
    float: right;
  }
}

html[data-theme=light] {
  .media-header {
    .media-header__title {
      color: $black;
    }
  
    .media-header__sub-title,
    .media-header__bottom-text, .media-header__bottom-text a,
    .media-header__bottom-text-side {
      color: $gray-dark;
    }
  
    .media-header__subscribe, .media-header__edit, .media-header__link {
      color: $gray-dark;
    }

    .media-header__is-explicit .badge {
      background-color: $red;
      color: $white;
    }
  }
}

html[data-theme=dark] {
  .media-header {
    .media-header__title {
      color: $white;
    }
  
    .media-header__sub-title,
    .media-header__bottom-text, .media-header__bottom-text a,
    .media-header__bottom-text-side {
      color: $gray-light;
    }
  
    .media-header__subscribe, .media-header__edit, .media-header__link {
      color: $gray-light;
    }

    .media-header__is-explicit .badge {
      background-color: $red;
      color: $white;
    }
  }
}
