.media-list__select button {
  font-size: $text-lg-rem;
}

.media-list__sub-select {
  margin-bottom: 1rem;

  .dropdown-menu {
    transform: translate3d(-4px, 36px, 0px) !important;
  }

  &.align-right {
    .dropdown-menu {
      transform: translate3d(-26px, 36px, 0px) !important;
    }
  }

  button {
    font-size: $text-md-rem;
  }
}
