.media-info {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  clear: both;
  padding: 1rem 0 1.25rem 0;

  .media-info__title {
    margin-top: 0.25rem;
  }

  .media-info__duration {
    float: right;
    margin-top: 0.5rem;
  }

  .media-info__time {
    margin-top: 0.5rem;
  }

  .media-info__controls {
    display: flex;
    margin: 1rem 0 0.5rem 0;

    .media-info-controls__play svg {
      margin-left: 2px;
    }

    .media-info-controls__play.playing svg {
      margin-left: 0;
    }

    button {
      border-radius: 44px;
      border-style: solid;
      border-width: 1px;
      flex: 0 0 auto;
      height: 44px;
      margin-right: 1rem;
      width: 44px;
    }
  }

  .media-info__show-more {
    cursor: pointer;
    display: inline-block;
    margin-top: 0.5rem;
  }

  .media-info__description {
    margin-top: 1rem;
  }
}

html[theme=light] {
  .media-info {
    border-color: $gray-lighter;

    .media-info__title {
      color: $black;
    }

    .media-info__time, .media-info__duration {
      color: $gray;
    }

    .media-info__controls {
      button {
        background-color: $white;
        border-color: $black;
        color: $black;

        &:hover {
          border-color: $gray-darker;
          color: $gray-darker;
        }
      }
    }

    .media-info__show-more {
      color: $blue;
    }

    .media-info__description {
      color: $black;
    }
  }
}

html[theme=dark] {
  .media-info {
    border-color: $gray-darker;

    .media-info__title {
      color: $white;
    }

    .media-info__time, .media-info__duration {
      color: $gray;
    }

    .media-info__controls {
      button {
        background-color: $black;
        border-color: $white;
        color: $white;

        &:hover {
          border-color: $gray-lighter;
          color: $gray-lighter;
        }
      }
    }

    .media-info__show-more {
      color: $blue;
    }

    .media-info__description {
      color: $white;
    }
  }
}
