.more-dropdown-menu {  
  .btn {
    border-radius: 44px;
    border-style: solid;
    border-width: 1px;
    height: 44px;
    width: 44px;
  }

  // Default menu to left position
  .dropdown-menu {
    // force left, vertical-center position
    transform: translate3d(-173px, -43px, 0px) !important; 
  }
}

[theme=light] {
  .more-dropdown-menu {
    .btn {
      background-color: $white;
      border-color: $black;
      color: $black;

      &:hover {
        border-color: $gray-darker;
        color: $gray-darker;
      }
    }
  }
}

[theme=dark] {
  .more-dropdown-menu {
    .btn {
      background-color: $black;
      border-color: $white;
      color: $white;

      &:hover {
        border-color: $gray-lighter;
        color: $gray-lighter;
      }
    }
  }
}
