// Navigation
.navbar__bg {
  .navbar {
    margin: auto;
    max-width: $body-max-width;
    padding: 0.125rem 0rem;

    a {
      cursor: pointer;
    }

    .navbar-brand {
      background-size: cover;
      margin: 3px 0 2px 0;
      height: 26px;    
      width: 143px;  
    }

    .nav-item {
      margin-left: 0.75rem;
    }
  }

  @media(max-width: ($player-max-width + 16px)) {
    .navbar {
      padding: 0.25rem 1rem;
    }
  }

  @media(max-width: 575px) {
    .navbar-nav {
      padding-top: 0.5rem;
      
      .nav-link {
        padding: 0.75rem 0;
        text-align: right;
      }
    }
  }
}

[theme=light] {
  .navbar__bg {
    background-color: $gray-lighter;

    .navbar {
      background-color: $gray-lighter !important;
  
      a {
        color: $black !important;
        text-decoration: none;

        &:hover {
          color: $gray-dark !important;
        }
      }

      .navbar-brand {
        background-image: url('/static/images/podverse-logo-black.png');
      }
    }
  }
}

[theme=dark] {
  .navbar__bg {
    background-color: $gray-darker;

    .navbar {
      background-color: $gray-darker !important;
  
      a {
        color: $white !important;
        text-decoration: none;

        &:hover {
          color: $gray-light !important;
        }
      }

      .navbar-brand {
        background-image: url('/static/images/podverse-logo-white.png');
      }
    }
  }
}
