// Navigation
.navbar__bg {
  border-bottom: 1px solid;

  .navbar {
    justify-content: space-between;
    margin: auto;
    padding: 0.25rem 1rem;

    @media(min-width: $body-max-width + 32) {
      max-width: $body-max-width - 20px;
      padding: 0.25rem 4px;
    }

    a {
      cursor: pointer;
      font-weight: 400;
    }

    a.nav-link {
      text-align: center;
    }

    .navbar-brand {
      background-size: cover;
      border-radius: 0;
      margin: 4px 0 2px -6px;
      height: 24px;
      width: 133px;
    }

    @media(max-width: 860px) {
      .navbar-brand {
        margin-left: 0;
      }
    }

    .navbar-nav {
      flex-direction: row;
      -ms-flex-direction: row;

      .nav-item {
        margin-left: 0.25rem;
        min-width: 42px;

        .dropdown-menu {
          position: absolute;
        }
  
        button svg {
          @include preventFontAwesomeSizeFOUC;
        }

        .dropdown-toggle {
          height: 36px;

          &::after {
            margin-left: 6px;
            vertical-align: .16em;
          }
        }
      }
    }
  }

  @media(max-width: 375px) {
    .navbar {
      padding: 0.25rem 0 0.25rem 0.5rem;

      .navbar-brand {
        width: 118px;
      }

      .navbar-nav {
        .nav-item {
          margin-left: 0;
        }
      }

      .btn-secondary.dropdown-toggle {
        padding: 0.25rem 0.5rem;
      }
    }
  }

  @media(max-width: 330px) {
    .navbar {
      padding: 0.25rem 0.25rem 0.25rem 0.5rem;

      .navbar-nav {
        .nav-item {
          min-width: 32px;
        }
      }

      .btn-secondary.dropdown-toggle {
        padding: 0.25rem;
      }
    }
  }
}

html[data-theme=light] {
  .navbar__bg {
    background-color: $gray-lightest;
    border-bottom-color: $gray-lighter;

    .navbar {
      background-color: $gray-lightest !important;
  
      a, .nav-item a.nav-link {
        color: $black;
        text-decoration: none;

        &:hover {
          color: $gray-darker !important;
        }
      }

      .dropdown-menu {
        a {
          color: $black;

          &:hover {
            color: $gray-darker !important;
          }
        }
      }

      .navbar-brand {
        background-image: url('/images/podverse-logo-header-black.svg');
      }

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(16, 16, 16, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }

      .navbar-toggler {
        border-color: $gray-darker !important;
      }

      .nav-item {
        .dropdown-toggle {
          color: $black;

          &:hover {
            color: $gray-darker;
          }
        }
      }
    }
  }
}

html[data-theme=dark] {
  .navbar__bg {
    background-color: $gray-darkest;
    border-bottom-color: $gray-dark;

    .navbar {
      background-color: $gray-darker !important;
  
      a, .nav-item a.nav-link {
        color: $white;
        text-decoration: none;

        &:hover {
          color: $gray-lighter !important;
        }
      }

      .navbar-brand {
        background-image: url('/images/podverse-logo-header-white.svg');
      }

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }

      .navbar-toggler {
        border-color: $gray;
      }

      .nav-item {
        .dropdown-toggle {
          color: $white;

          &:hover {
            color: $gray-lighter;
          }
        }
      }
    }
  }
}
