// Navigation
.navbar__bg {
  .navbar {
    margin: auto;
    max-width: $body-max-width;
    padding: 0.125rem 0rem;

    a {
      cursor: pointer;
      font-weight: 400;
    }

    .navbar-brand {
      background-size: cover;
      margin: 4px 0 2px 0;
      height: 24px;    
      width: 132px;
    }

    .nav-item {
      margin-left: 0.75rem;

      button svg {
        height: 1rem;
        vertical-align: -0.125rem;
        width: 1rem;
      }

      button.dropdown-toggle {
        margin-right: 4px;
        padding-right: 15px;
        border: none !important;
        box-shadow: none !important;
      }
    }
  }

  @media(max-width: ($player-max-width + 16px)) {
    .navbar {
      padding: 0.25rem 1rem;
    }
  }
  
  @media(min-width: 576px) {    
    .mobile-nav-item {
      display: none;
    }
  }

  @media(max-width: 575px) {
    .navbar-nav {
      padding-top: 0.5rem;
      
      .nav-link {
        padding: 0.75rem 0;
        text-align: right;
      }
    }
    .dropdown {
      display: none;
    }
  }
}

[theme=light] {
  .navbar__bg {
    background-color: $gray-lighter;

    .navbar {
      background-color: $gray-lighter !important;
  
      a {
        color: $black !important;
        text-decoration: none;

        &:hover {
          color: $gray-darker !important;
        }
      }

      .navbar-brand {
        background-image: url('/static/images/podverse-logo-header-black.svg');
      }

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }

      .navbar-toggler {
        border-color: $gray;
      }
    }
  }
}

[theme=dark] {
  .navbar__bg {
    background-color: $gray-darker;

    .navbar {
      background-color: $gray-darker !important;
  
      a {
        color: $white !important;
        text-decoration: none;

        &:hover {
          color: $gray-lighter !important;
        }
      }

      .navbar-brand {
        background-image: url('/static/images/podverse-logo-header-white.svg');
      }

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }

      .navbar-toggler {
        border-color: $gray;
      }
    }
  }
}
