:root {
  font-size: 16px;
}

body {
  line-height: 20px;
}

h1 {
  font-size: $text-3x;
}

h2 {
  font-size: $text-2x;
}

h3 {
  font-size: $text-xl;
}

h4 {
  font-size: $text-lg;
}

h5 {
  font-size: $text-sm;
}

h6 {
  font-size: $text-xs;
}

p {
  font-size: $text-md;
}

.text-wrapper {
  overflow: hidden;
}